@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bree+Serif&family=Concert+One&family=Dancing+Script:wght@700&family=Jost:ital,wght@0,548;1,548&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@1,552&family=Varela+Round&display=swap');

/* html{
    scroll-snap-type: y mandatory;
} */
body {
    font-family: "Poppins";
    background-color: #000000;
    color: azure;
}

  /* loader  */
  .loader h1{
    color: #000;
    font-weight: 700;
    font-family: "Poppins";
  }
  .loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: orangered;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
}
#offcanvasNavbarLabel{
    font-family: "Varela Round";
    font-weight: 700;

}

ul li{
    font-family: "Poppins";
    font-weight: 700
}
#bgcolor{
    background-color: #000;
}
#navbg{
    background: transparent;
    background-color: #000;
}

/* Section 1 styles */
#sec1{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
     scroll-snap-type: y mandatory;
}
section .row{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}
.row  h3{
    margin-top: 150px;
    font-family: "Varela Round";
    color: azure;
    font-weight: 600;
    z-index: 2;
}
h4{
    font-family: "Dancing Script";
    
}
.row p{
    color: azure;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.5rem;
    z-index: 2;
}
.row h1mubin{
    color: azure;
    font-size: 1.3rem;
    z-index: 2;
}
.row h1 span{
    color: orangered;
    z-index: 2;
}
.row h1 span:hover{
    box-shadow: 0 0 100px orangered;
    z-index: 2;
}
.row p span{
    color: orangered;
    font-size: 1.7rem;
    font-family: "Poppins";
    z-index: 2;
}
spanus{
    color: orangered;
   text-decoration: underline #212529;
   font-weight: 600;
   z-index: 2;
}
h4hpage{
    color: orangered;
    font-family: "Concert One";
    font-weight: 400;
    font-size: 1.5rem;
    z-index: 2;
}
.row h1mubin{
    font-size: 2rem;
    font-weight: 600;
    z-index: 2;
}
spanmalek{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2rem;
    color: orangered;
    z-index: 2;
}
spanmalek:hover{
    box-shadow: 0 0 1px orangered;
    z-index: 2;
}
span:hover{
        box-shadow: 0 0 1px orangered;
        z-index: 2;
}


/* .section1 {
    padding-top: 80px;
} */

.section1 h3 {
    font-size: 28px;
    font-weight: bold;
}

.section1 h1 {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.section1 p {
    font-size: 18px;
    margin-bottom: 20px;
}
section .row #himg{
      border-radius: 15%;
    height: 5%;
    width: 100%;
    height: 100%;
    margin-top: 6vh;
    border: 1px solid orangered;
    cursor: move;
}
.row #himg:hover{
    box-shadow: 0 0 40px orangered;
}

/* Section 2 styles */
/* .section2 {
    padding-top: 80px;
} */

.section2 h1 {
    font-size: 48px;
    font-weight: bold;
}

.section2 h2 {
    font-size: 28px;
    font-weight: bold;
}

.section2 p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Section 3 styles */
/* .section3 {
    padding-top: 80px;
} */

.section3 h1 {
    font-size: 48px;
    font-weight: bold;
}

.section3 h2 {
    font-size: 28px;
    font-weight: bold;
}

.section3 .line {
    height: 2px;
    background-color: #000;
    margin-bottom: 20px;
}

/* Card styles */
.card {
    position: relative;
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

/* Section 4 styles */
/* .section4 {
    padding-top: 80px;
} */

.section4 h1 {
    font-size: 48px;
    font-weight: bold;
    
}

.section4 .contact {
    font-size: 28px;
    font-weight: bold;
}

.section4 .line {
    height: 2px;
    background-color: #000;
    margin-bottom: 20px;
}

/* secton 4 */
section4{
    width: 100%;
    height: 100%;
}


section5{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}
.contact{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px orangered;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins";
    margin-right: 30px;
}

i{
    margin-top: 5px;
    margin-bottom: 100px;
}
.fa {
    font-size: 30px;
    margin-right: 40px;
}

.fa:hover {
    color: orangered;
}

/* Footer styles */
/* footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
} */

/* footer p {
    margin-bottom: 0;
} */

/* style.css */
footer {
    height: 100%;
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
    padding-top: 20px;
    margin-top: 95px;
    margin-bottom: 20px;
    font-family: "Poppins";
    display: flex;
    align-items: center;
}
#contactinfo{
    font-size: 30px;
    font-family: "Concert One";
    display: flex;
    justify-content: center;
}

footer  #followme {
    margin-bottom: 10px;
    font-family: "Concert One";
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.social-icons{
    display: flex;
    justify-content: center;
}

footer p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #f8f9fa; /* Change color on hover */
}
#mmfooter{
    font-family: "Dancing Script";
}
#mmfooter{
    font-family: "Bree serif";
}

/* n-one */
nav {
    font-size: 1.5rem;
    font-family: "Poppins";
    font-weight: 600;
  }
  .navbar-brand {
      font-size: 45px; /* make our h1 tag larger */
       font-family: "Bodoni Moda";
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient( rgb(255, 60, 0) 52%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 61%); /* you can change the colors based on your preference */
      background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
      -webkit-text-fill-color: transparent;
      animation: wave 2000ms alternate infinite;
      transition: all 0.5s;
      font-weight: 500;
    }
    @keyframes wave {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 10vw 12px;
      }
    }
  .nav-link{
      color: azure;
  }
  .nav-link:hover{
      color: azure;
  }
  .offcanvas-title{
      font-size: 1.2rem;
      font-family: "Poppins";
      font-weight: 600;
  }
  .navbar-toggler-icon{
    border-radius: 10px;
    background-color: orangered;
  }
  
  h1skills{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    color: azure;
    text-decoration: underline orangered;
    border-radius: 50px;
    margin-right: 20vw;
    margin-bottom: 10vh;
}

h2{
    margin-top: 2rem;
    color: azure;
}

.line1{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: orangered;
}
.line2{
    height: 6px;
    width: 90%;
    border-radius: 50px;
    background-color: orangered;
}
.line3{
    height: 6px;
    width: 80%;
    border-radius: 50px;
    background-color: orangered;
}
.line4{
    height: 6px;
    width: 70%;
    border-radius: 50px;
    background-color: orangered;
}

/* section 4 start */
/* .card{
    margin-top: 15vh;
    width: 95%;
    height: 100%;
} */
p.card-title{
    font-weight: bold;
    font-family: "Rubik";
}
p.card-text{
    color: #ff2f00;
    font-family: "Poppins";
}

/* section 5 start */

@media only screen and (max-width: 700px) {
    #sec1{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        margin-top: -100px;
    }
    
    section .row #himg{
        margin-top: 0px;
        border-radius: 10%;
      border: 1px solid orangered;
      cursor: move;
  }
  
  }

/* following cursor */
  .following {
    width: 12px;
    height: 12px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: orangered;
    border-radius: 15px;
  }
  
/* footer css */
/* .curve-background {} */
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the curve */
    /* background: linear-gradient(to top left, transparent 50%, #343a40 50%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; */ 

/* animated img */
#animatedimg {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
}
  